/* IE/Win - Fix -- lap -- */
.msky-lap{list-style:none;}
.msky-lap .msky-lap-header { cursor: pointer;  margin-top:10px; padding:3px;font-size:14px}
.msky-lap-header .msky-lap-icon{display:inline-block;}
.msky-lap .msky-lap-content {overflow: auto;zoom: 1; }

.msky-lap-header-default{background:#f9e275;} .msky-lap-header-default a{text-decoration:none;}
.msky-lap-header-active{background:#acdd4a;}
.msky-lap-header-hover{background:#666;color:#FFFFFF;}
.msky-lap-content-default{border:1px solid #f9e275;}
.msky-lap-content-active { border: 1px solid #acdd4a;}

/*=====================================================================================================*/

/* Icons
----------------------------------*/

/* states and images */
.msky-icons { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Interaction states
----------------------------------*/
.msky-state-default{background: #0078ae url(images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff; }
.msky-state-active{background: #0078ae url(images/ui-bg_gloss-wave_50_6eac2c_500x100.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff; }

/* states and images */
.msky-icons{ width: 16px; height: 16px; background-image: url(images/ui-icons_1_256x240.png); }

/* positioning */
.msky-icon-carat-1-n { background-position: 0 0; }
.msky-icon-carat-1-ne { background-position: -16px 0; }
.msky-icon-carat-1-e { background-position: -32px 0; }
.msky-icon-carat-1-se { background-position: -48px 0; }
.msky-icon-carat-1-s { background-position: -64px 0; }
.msky-icon-carat-1-sw { background-position: -80px 0; }
.msky-icon-carat-1-w { background-position: -96px 0; }
.msky-icon-carat-1-nw { background-position: -112px 0; }
.msky-icon-carat-2-n-s { background-position: -128px 0; }
.msky-icon-carat-2-e-w { background-position: -144px 0; }
.msky-icon-triangle-1-n { background-position: 0 -16px; }
.msky-icon-triangle-1-ne { background-position: -16px -16px; }
.msky-icon-triangle-1-e { background-position: -32px -16px; }
.msky-icon-triangle-1-se { background-position: -48px -16px; }
.msky-icon-triangle-1-s { background-position: -64px -16px; }
.msky-icon-triangle-1-sw { background-position: -80px -16px; }
.msky-icon-triangle-1-w { background-position: -96px -16px; }
.msky-icon-triangle-1-nw { background-position: -112px -16px; }
.msky-icon-triangle-2-n-s { background-position: -128px -16px; }
.msky-icon-triangle-2-e-w { background-position: -144px -16px; }
.msky-icon-arrow-1-n { background-position: 0 -32px; }
.msky-icon-arrow-1-ne { background-position: -16px -32px; }
.msky-icon-arrow-1-e { background-position: -32px -32px; }
.msky-icon-arrow-1-se { background-position: -48px -32px; }
.msky-icon-arrow-1-s { background-position: -64px -32px; }
.msky-icon-arrow-1-sw { background-position: -80px -32px; }
.msky-icon-arrow-1-w { background-position: -96px -32px; }
.msky-icon-arrow-1-nw { background-position: -112px -32px; }
.msky-icon-arrow-2-n-s { background-position: -128px -32px; }
.msky-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.msky-icon-arrow-2-e-w { background-position: -160px -32px; }
.msky-icon-arrow-2-se-nw { background-position: -176px -32px; }
.msky-icon-arrowstop-1-n { background-position: -192px -32px; }
.msky-icon-arrowstop-1-e { background-position: -208px -32px; }
.msky-icon-arrowstop-1-s { background-position: -224px -32px; }
.msky-icon-arrowstop-1-w { background-position: -240px -32px; }
.msky-icon-arrowthick-1-n { background-position: 0 -48px; }
.msky-icon-arrowthick-1-ne { background-position: -16px -48px; }
.msky-icon-arrowthick-1-e { background-position: -32px -48px; }
.msky-icon-arrowthick-1-se { background-position: -48px -48px; }
.msky-icon-arrowthick-1-s { background-position: -64px -48px; }
.msky-icon-arrowthick-1-sw { background-position: -80px -48px; }
.msky-icon-arrowthick-1-w { background-position: -96px -48px; }
.msky-icon-arrowthick-1-nw { background-position: -112px -48px; }
.msky-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.msky-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.msky-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.msky-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.msky-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.msky-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.msky-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.msky-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.msky-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.msky-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.msky-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.msky-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.msky-icon-arrowreturn-1-w { background-position: -64px -64px; }
.msky-icon-arrowreturn-1-n { background-position: -80px -64px; }
.msky-icon-arrowreturn-1-e { background-position: -96px -64px; }
.msky-icon-arrowreturn-1-s { background-position: -112px -64px; }
.msky-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.msky-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.msky-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.msky-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.msky-icon-arrow-4 { background-position: 0 -80px; }
.msky-icon-arrow-4-diag { background-position: -16px -80px; }
.msky-icon-extlink { background-position: -32px -80px; }
.msky-icon-newwin { background-position: -48px -80px; }
.msky-icon-refresh { background-position: -64px -80px; }
.msky-icon-shuffle { background-position: -80px -80px; }
.msky-icon-transfer-e-w { background-position: -96px -80px; }
.msky-icon-transferthick-e-w { background-position: -112px -80px; }
.msky-icon-folder-collapsed { background-position: 0 -96px; }
.msky-icon-folder-open { background-position: -16px -96px; }
.msky-icon-document { background-position: -32px -96px; }
.msky-icon-document-b { background-position: -48px -96px; }
.msky-icon-note { background-position: -64px -96px; }
.msky-icon-mail-closed { background-position: -80px -96px; }
.msky-icon-mail-open { background-position: -96px -96px; }
.msky-icon-suitcase { background-position: -112px -96px; }
.msky-icon-comment { background-position: -128px -96px; }
.msky-icon-person { background-position: -144px -96px; }
.msky-icon-print { background-position: -160px -96px; }
.msky-icon-trash { background-position: -176px -96px; }
.msky-icon-locked { background-position: -192px -96px; }
.msky-icon-unlocked { background-position: -208px -96px; }
.msky-icon-bookmark { background-position: -224px -96px; }
.msky-icon-tag { background-position: -240px -96px; }
.msky-icon-home { background-position: 0 -112px; }
.msky-icon-flag { background-position: -16px -112px; }
.msky-icon-calendar { background-position: -32px -112px; }
.msky-icon-cart { background-position: -48px -112px; }
.msky-icon-pencil { background-position: -64px -112px; }
.msky-icon-clock { background-position: -80px -112px; }
.msky-icon-disk { background-position: -96px -112px; }
.msky-icon-calculator { background-position: -112px -112px; }
.msky-icon-zoomin { background-position: -128px -112px; }
.msky-icon-zoomout { background-position: -144px -112px; }
.msky-icon-search { background-position: -160px -112px; }
.msky-icon-wrench { background-position: -176px -112px; }
.msky-icon-gear { background-position: -192px -112px; }
.msky-icon-heart { background-position: -208px -112px; }
.msky-icon-star { background-position: -224px -112px; }
.msky-icon-link { background-position: -240px -112px; }
.msky-icon-cancel { background-position: 0 -128px; }
.msky-icon-plus { background-position: -16px -128px; }
.msky-icon-plusthick { background-position: -32px -128px; }
.msky-icon-minus { background-position: -48px -128px; }
.msky-icon-minusthick { background-position: -64px -128px; }
.msky-icon-close { background-position: -80px -128px; }
.msky-icon-closethick { background-position: -96px -128px; }
.msky-icon-key { background-position: -112px -128px; }
.msky-icon-lightbulb { background-position: -128px -128px; }
.msky-icon-scissors { background-position: -144px -128px; }
.msky-icon-clipboard { background-position: -160px -128px; }
.msky-icon-copy { background-position: -176px -128px; }
.msky-icon-contact { background-position: -192px -128px; }
.msky-icon-image { background-position: -208px -128px; }
.msky-icon-video { background-position: -224px -128px; }
.msky-icon-script { background-position: -240px -128px; }
.msky-icon-alert { background-position: 0 -144px; }
.msky-icon-info { background-position: -16px -144px; }
.msky-icon-notice { background-position: -32px -144px; }
.msky-icon-help { background-position: -48px -144px; }
.msky-icon-check { background-position: -64px -144px; }
.msky-icon-bullet { background-position: -80px -144px; }
.msky-icon-radio-off { background-position: -96px -144px; }
.msky-icon-radio-on { background-position: -112px -144px; }
.msky-icon-pin-w { background-position: -128px -144px; }
.msky-icon-pin-s { background-position: -144px -144px; }
.msky-icon-play { background-position: 0 -160px; }
.msky-icon-pause { background-position: -16px -160px; }
.msky-icon-seek-next { background-position: -32px -160px; }
.msky-icon-seek-prev { background-position: -48px -160px; }
.msky-icon-seek-end { background-position: -64px -160px; }
.msky-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.msky-icon-seek-first { background-position: -80px -160px; }
.msky-icon-stop { background-position: -96px -160px; }
.msky-icon-eject { background-position: -112px -160px; }
.msky-icon-volume-off { background-position: -128px -160px; }
.msky-icon-volume-on { background-position: -144px -160px; }
.msky-icon-power { background-position: 0 -176px; }
.msky-icon-signal-diag { background-position: -16px -176px; }
.msky-icon-signal { background-position: -32px -176px; }
.msky-icon-battery-0 { background-position: -48px -176px; }
.msky-icon-battery-1 { background-position: -64px -176px; }
.msky-icon-battery-2 { background-position: -80px -176px; }
.msky-icon-battery-3 { background-position: -96px -176px; }
.msky-icon-circle-plus { background-position: 0 -192px; }
.msky-icon-circle-minus { background-position: -16px -192px; }
.msky-icon-circle-close { background-position: -32px -192px; }
.msky-icon-circle-triangle-e { background-position: -48px -192px; }
.msky-icon-circle-triangle-s { background-position: -64px -192px; }
.msky-icon-circle-triangle-w { background-position: -80px -192px; }
.msky-icon-circle-triangle-n { background-position: -96px -192px; }
.msky-icon-circle-arrow-e { background-position: -112px -192px; }
.msky-icon-circle-arrow-s { background-position: -128px -192px; }
.msky-icon-circle-arrow-w { background-position: -144px -192px; }
.msky-icon-circle-arrow-n { background-position: -160px -192px; }
.msky-icon-circle-zoomin { background-position: -176px -192px; }
.msky-icon-circle-zoomout { background-position: -192px -192px; }
.msky-icon-circle-check { background-position: -208px -192px; }
.msky-icon-circlesmall-plus { background-position: 0 -208px; }
.msky-icon-circlesmall-minus { background-position: -16px -208px; }
.msky-icon-circlesmall-close { background-position: -32px -208px; }
.msky-icon-squaresmall-plus { background-position: -48px -208px; }
.msky-icon-squaresmall-minus { background-position: -64px -208px; }
.msky-icon-squaresmall-close { background-position: -80px -208px; }
.msky-icon-grip-dotted-vertical { background-position: 0 -224px; }
.msky-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.msky-icon-grip-solid-vertical { background-position: -32px -224px; }
.msky-icon-grip-solid-horizontal { background-position: -48px -224px; }
.msky-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.msky-icon-grip-diagonal-se { background-position: -80px -224px; }

/*=====================================================================================================*/


/* Corner radius Ô²½Ç */
.radius-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.radius-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.radius-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.radius-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.radius-top { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.radius-bottom { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.radius-right {  -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.radius-left { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.radius-all { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/* Overlays  Í¸Ã÷*/
.overlay {opacity:.50;filter:alpha(opacity=10); }
.shadow { margin: 5px 0 0 5px; padding: 0px;  opacity: .45;filter:Alpha(Opacity=45); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }/*

